/* debug */

/*body {
    background-color: LightGray;
}*/
div {
    border: 1px solid Chocolate;
}

/* nav */

.top-nav {
	height: 4em;
	background: #fff;
}
.top-nav .content {
	width: 75%;
	margin: auto;
}

.top-nav .logo {
	width: 1.25em;
	margin: 1em;
	background: url(css/karma-logo.svg) no-repeat;
}

.top-nav ul {
	float: right;
	margin-top: 1.5em;
}

.top-nav li {
	display: inline-block;
	padding-left: 1em;
}

.top-nav a {
	text-decoration: none;
}

.top-nav a:focus {
	outline: none;
}



/* general typography */

body {
	font-family: Roboto, sans-serif;
}

/* nav typography */

.top-nav a {
	color: #838994;
}

.top-nav a:hover {
	color: #333333;
}

.main-nav-link {
	font-weight: 500;
	color: #4c5058;
}

