/* debug */

/*body {
    background-color: LightGray;
}*/
/*div {
    border: 1px solid Chocolate;
}*/

/* reset */
h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* general layout */

.top-nav .content, .cases, .content-footer hr {
	width: 58%;
	margin: auto;
}

body {
	margin-bottom: 10em;
}

/********** content **********/

/* nav */

.top-nav {
	/* begin - sticky nav */
	position: fixed;
	width: 100%;
	z-index: 9999;
	/* end */

	height: 4.5em;
	background: white;
}

.top-nav ul {
	float: right;
	margin-top: 0.5em;
}

.top-nav li {
	display: inline-block;
	padding-left: 1.5em;
}

.top-nav a {
	text-decoration: none;
}

.top-nav a:focus {
	outline: none;
}

.top-nav .logo {
	margin-top: 1em;
	height: 2em;
	width: 2em;
	background: url("../images/karma-logo.svg") no-repeat;
}

/* hero */

.hero {
	background: url("../images/background.jpg") no-repeat center;
	background-size: cover;
    height: 45em;

	/* fix for vertically center issue, added to parent */
    transform-style: preserve-3d;
}


.hero .content {
	/* being - center vertically 
	details: http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/; */
	position: relative;
	top: 50%; 
	transform: translateY(-50%);
	/* end */

	text-align: center;
}

h1 {
	margin-bottom: 0.5em;
}

h2 {
	margin-bottom: 1em;
}

.hero-button {
	padding: 0.7em 1em;
	background-color: #f15a29;
    border-color: #f15a29;
    border-radius: 4px;
}

.hero-button:hover {
	background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

.hero-button:focus {
	outline: none;
}

/* cases */

.cases h2 {
	margin: 2em 0 1em 0;
	text-align: center;
}

.cases figure {
    display: inline-block;
    /* fix for vertically center issue, added to parent */
    transform-style: preserve-3d;
}

.cases img {
	/* begin - center img horizontally in figure */
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
	/* end */
    width: 6em;
}

.cases figcaption {
	margin-top: 2em;
}

/* footer */
.content-footer hr {
	margin: 5em auto 1em auto;
}

.content-footer {
	text-align: center;
}

.content-footer ul {
	margin: 1em auto 1em auto;
}

.content-footer li {
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	border: 1px solid #eaebec;
	border-radius: 50%;
	/* 1/4 the height */
	padding-top: 0.625em;
	margin-left: 1em;
	text-align: center;
}

	

/********** typography **********/

/* general typography */

body {
	font-family: Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.top-nav a, .copyright {
	color: #838994;
}

h1, h2, .cases h2, .copyright {
	font-weight: 300;
}

/* nav typography */

.top-nav a:hover {
	color: #333;
}

.main-nav-link a {
	font-weight: 500;
	color: #4c5058;
}

/* hero typography */

.hero .content {
	color: white;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
}

.hero-button {
	font-size: 1.25em;
}

/* cases typography */

.cases h2 {
	font-size: 2.75em;
}

.cases figcaption {
	font-size: 1.5em;
}

/* typography footer */
.content-footer hr {
	border: 0;
    border-top: 1px solid #eaebec;
}

.twitter {
	color: #55acee;
}

.facebook {
	color: #4c66a4
}

.instagram {
	color: #3f729b;
}

